<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Startup).Assembly">
        <NotFoundContent>
            <p>Sorry, there's nothing at this address.</p>
        </NotFoundContent>
    </Router>
</CascadingAuthenticationState>
<Blazor.Analytics.GoogleAnalytics.GoogleAnalyticsComponent TrackingId="UA-121611607-1" ContainerId="GTM-M4FCQGC"></Blazor.Analytics.GoogleAnalytics.GoogleAnalyticsComponent>